# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Processed datasets
data/processed/

# VS Code / Cursor
.vscode/

# Logs
logs/

# OS files
Thumbs.db
.DS_Store

# WSL virtual environment
.venv-wsl/

# Trained models
models/

# Generated reports

# Experimental / temporary files
new/

# Raw datasets
data/raw/
